.header-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  a {
    color: black;
    text-decoration: none;
    padding: 0 1em;
    background-color: transparent;
    font-size: 1.5em;
  }
}
